[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/GUPTADKG
[access "refs/for/refs/*"]
	read = group user/GUPTADKG
	push = group user/GUPTADKG
	label-Code-Review = -2..+2 group user/GUPTADKG
	label-Verified = -1..+1 group user/GUPTADKG
	rebase = group user/GUPTADKG
	removeReviewer = group user/GUPTADKG
	submit = group user/GUPTADKG
[access "refs/heads/*"]
	read = group user/GUPTADKG
	create = group user/GUPTADKG
	push = +force group user/GUPTADKG
	pushMerge = group user/GUPTADKG
[access "refs/tags/*"]
	push = group user/GUPTADKG
	push = +force group user/GUPTADKG
